.home, .about{
    
    /* grid styling */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 100vh;
}

#home-p, #about-p{
    justify-self: center;
    grid-area: 3 / 2 / 4 / 3;
}

#about-p{
    justify-self: center;
    grid-area: 2 / 2 / 4 / 3;
}

.home h1{
    grid-area: 2 / 2 / 3 / 3;  
    font-size: 3rem;
    justify-self: center;
}

.about h2{
    grid-area: 1 / 2 / 2 / 3;
    font-size: 2rem;
    justify-self: center;
}




@media screen and (max-width:480px){

    .home h1{
        grid-area: 1 / 2 / 2 / 3;
    }
    #home-p{
        grid-area: 2 / 2 / 4 / 3;
    }
}